<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjw.springboot10mybatis.dao.UserDao">

    <select id="getUserByName" resultType="com.zjw.springboot10mybatis.pojo.User">
        select * from uu where username=#{username}
    </select>
</mapper>
